<div class="flex flex-row justify-between bg-amber-100">
  <%= image_tag 'pixabay-lohrelei-aperture-1142967.svg', height: '50px', width: '50px', alt: 'Description of the image', class: 'p-2' %>

  <%= render partial: "nav" %>
  <%= render partial: "notices" %>
</div>

