<div class="bg-amber-100">
  <div class="flex flex-row justify-between items-center max-w-screen-md mx-auto bg-amber-100">
    <%= image_tag 'pixabay-lohrelei-aperture-1142967.svg', height: '50px', width: '50px', alt: 'Your Logo Here', class: 'p-2' %>
    <%= render partial: "notices" %>
    <%= render partial: "nav" %>
  </div>
</div>